.container {
    
    justify-content: center;
    align-items: center;
    /* height: 60vh; Set the height to full viewport height */
  }

  body {
    background-color: #28a745; /* Set the background color */
    padding: 2rem; /* Set the padding */
    color: #343a40; /* Set the text color */
    background-color: rgba(40, 167, 69, 0.5); /* Set the background opacity */
  }